:root {
    /*FONT*/
    --font-dm-sans: "DM Sans", sans-serif;

    /*variaveis que servem para unificar linhas que usam o mesmo estilo de tamanho, cor, fonte, etc.*/

    /*COLORS*/
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,0,7) 
}



